@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;

}


.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; 
  }
.content{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    color: blanchedalmond;
    z-index: 1;

}

.content h1 {
    font-size: 80px;
    padding-top: 40px;
    font-weight: bold;
    background: linear-gradient(45deg, #b4b5b9, #e27bfe, #17253f,#17253f);
    background-size: 200%;
    -webkit-background-clip: text; 
    background-clip: text;
    color: transparent; 
    animation: theme 8s ease infinite alternate;
}

@keyframes theme {
    0% {
        background-position: 0% 50%;
    } 
    50% {
        background-position: 100% 50%;
    }  
    100% {
        background-position: 0% 50%;
    }
}

.list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
    height: 100vh;
    transform-style: preserve-3d;
    transform: perspective(1000px)
}

.item{
   
    transition: 0.5s;
    filter:brightness(0) ;
    img{
        width: 150px;
        height: 280px;
        object-fit: cover;
    }
}
.item:hover{
    filter: brightness(1);
    transform: translateZ(200px);
    cursor: pointer;
}
.item:hover + *{
    filter: brightness(0.6);
    transform: translateZ(150px) rotateY(40deg);
}
.item:hover + * + *{
    filter: brightness(0.4);
    transform: translateZ(70px) rotateY(20deg);
}


.item:has(+ * :hover){
    filter: brightness(0.6);
    transform: translateZ(150px) rotateY(-40deg);
}
.item:has(+ * + * :hover){
    filter: brightness(0.4);
    transform: translateZ(70px) rotateY(-20deg);
}